body {
    background-color: black;
    color: white;
}
body, input {
    font-size: 12pt;
}

#mouse_confetti {
    z-index: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}
.small_confetti {
    width: 8px;
    height: 8px;
    background-color: white;
    position: absolute;
    
    transition: transform 200ms ease-out;
    pointer-events: none !important;
}

#options {
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-top-right-radius: 10px;
}
input {
    border-radius: 5px;
    padding: 2px 4px;
    border: none;
    width: 240px;
}